/*Archivo CSS personalizado para los componentes de JavaFX */
/* Clase titulo  */
.titles {
    -fx-font-size: 23;
    -fx-font-family: "Arial Black";
    -fx-font-weight: 800;
}

.bienvenido{
    -fx-text-fill: white;
}

/*Color principal */
.color_fondo01{
    -fx-background-color: #60BF81;
    -fx-text-fill: white;
}

.color_fondo02{
    -fx-background-color: #042940;
}

.color_fondo03{
    -fx-background-color: #005C53;
}
/* Clase boton */
.greenbutton {
    -fx-background-radius: 11;
    -fx-font-weight: 800;
    -fx-font-size: 13;
}
.greenbutton:hover {
    -fx-background-color: black;
    -fx-text-fill: white;
}
/* Para los menu , son clases predefinidas*/
.context-menu{
    -fx-background-color: #005C53;
    -fx-background-radius: 7;
}

.menu-item .label{
    -fx-text-fill: white;
}

.menu-item:focused{ /* Esto es similar a :hover. tiene 3 estados, sin focus, hover, y focused */
    -fx-cursor: hand;
    -fx-background-color: #60BF81;
    -fx-text-fill: white;
    -fx-font-weight: 800;
}
/* Fin */

/*Clase para los campos de ingreso */
.FieldsLogin{
    -fx-background-radius: 11;
}
.FieldsLogin#search{
    -fx-prompt-text-fill: black;
}
